---
// library imports
import { Image } from "astro:assets";

// component imports
import Link from "./Link.astro";

// utils imports
import { slugify, formatDate } from "../js/util.js";

const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const { title, date, author, image, description, category } = frontmatter ?? {};
---

<article class="card">
  <small>
    <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
  </small>
  {
    image && image.src && (
      <a href={url} aria-hidden="true" tabindex="-1">
        <Image
          src={image.src}
          alt={image.alt || "Description of the image"}
          width="400"
          height="250"
          format="webp"
          fetchpriority="high"
          quality={80}
        />
      </a>
    )
  }

  <div class="content">
    <div>
      <Link text={title} href={url} style="primary">
        <a href={url}>{title}</a>
      </Link>
      <small>
        by <a href={`/author/${slugify(author)}/`}>{author}</a> • {
          formatDate(date)
        }
      </small>
    </div>
    <p>{description}</p>
    <Link text="Read Post" href={url} style="secondary" />
  </div>
</article>
