---
// component imports
import CategoryCloud from "../components/CategoryCloud.astro";
import PostHeader from "../components/PostHeader.astro";
import Layout from "./Layout.astro";

// props
const { frontmatter } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;
---

<Layout {title} {description}>
  <PostHeader {title} {description} {date} {category} {author} {image} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog Categories">
        <h2 class="h3">Blog Categories</h2>
        <CategoryCloud />
      </aside>
    </div>
  </div>
</Layout>
